@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}
.menu a{
    padding: 10px 20px;
    display: inline-block;
    color: white;
}
.menu{
    background-color: #2d2d2d;
    text-align: center;
}
.header{
    background-image: url(img/back.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 350px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
}
.header-cover{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.about{

}
.about img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.about p{
    text-align: justify;
    vertical-align: middle;
    display:block;
}
.team h1, .team p{
    padding-bottom: 20px;
}
.pages{
    display: inline-block;
}
.pages img{
    width: 20%;
    object-fit: cover;
    margin-left: 70px;
}
.tarif{

}
.member-content{
    padding: 15px;
}
.tarifs{
    display: inline-block;
}
ol{
    list-style-type:disc;
    width: 20%;
    margin-left: 80px;
}
input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
}
button{
    margin:0 auto;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.kontakt{
    background-color: #2d2d2d;
    color: white;
}
.about-content{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
    margin: auto;
}
.about-content p{
    padding-right:15px;
}
.member{
    width: 20%;
    box-shadow: 0px 0px 15px -6px black;
    border-radius: 15px;
}
.member img{
    width: 100%;
    border-radius: 15px 15px 0 0 ;

}
.members{
    display: flex;
    justify-content: space-evenly;
}
.member-content{
}
.member button{
    transition: 0.3s;
}
.member button:hover{
    box-shadow: 0px 2px 15px -7px black;
}
.tarifs{
    display: flex;
    justify-content: space-evenly;
}
.tarifs div{
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 15px -5px black;
    margin-bottom: 60px;
}
.tarifs li{
    padding: 20px 0;
}
.tarif-cost{
    padding: 50px 0;
}
.premium{
}
.tarif-name1{
    background-color: #2d2d2d;
    color: white;
}
.tarif-name2{
    background-color: red;
    color: white;
}
.tarif-name3{
    background-color: rgb(44, 14, 151);
    color: white;
}
.tarifs button{
    margin-bottom: 20px;
}
form{
    width: 80%;
    margin: auto;
}
.kontakt ol{
    width: 80%;
    margin: auto;
}
.kontakt img{
    vertical-align: middle;
    margin-right: 10px;
}
.kontakt li{
    margin-top: 8px;
}
.tarifs ul{
    border-radius: 15px;
}
.block-title{
    text-align: center;
    padding: 50px 0;
}
.space{
    padding: 30px 0;
}



